<p>
{{#link-to 'index'}}index{{/link-to}} |
{{#link-to 'about'}}about{{/link-to}} |
{{#link-to 'adam'}}adam{{/link-to}} |
{{#link-to 'nicholas'}}Nicks Site{{/link-to}} |
{{#link-to 'newpage'}}new commit{{/link-to}}
</p>
{{outlet}}
